
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Australian to Dutch Flashcards</title>
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
<div class="row">
<div class="col-md-12">
<div id="flashcard-container" class="d-none">
<div class="card" style="width: 18rem;">
<div class="card-body">
<h5 class="card-title">Australian</h5>
<p class="card-text"></p>
</div>
</div>
<div class="card" style="width: 18rem;">
<div class="card-body">
<h5 class="card-title">Dutch</h5>
<p class="card-text"></p>
</div>
</div>
</div>
<form>
<div class="form-group">
<label for="saying">Enter an Australian saying or expression:</label>
<input type="text" class="form-control" id="saying" name="saying" required>
</div>
<button type="submit" class="btn btn-primary">Translate to Dutch</button>
</form>
</div>
</div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>

